---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharon Wu | Work</title>
    <link rel="stylesheet" href="sass/work.css">
</head>

<body>
    {% include nav-header.html %}
    <main>
        <div class="hero">
            <h1>Work Experience | Projects</h1>
        </div>
        <div class="content-container">
            <div class="side-nav">
                <ul>
                    <li><a class="projects-link" href="#project">Projects</a></li>
                    <li><a class="work-exp-link" href="#work">Work Experience</a></li>
                </ul>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <script src="assets/js/side-nav.js"></script>
            <div class="work-container">
                <div class="work-exp-container" id="work">
                    <section class="work-section" id="ceridian">
                        <div class="text">
                            <h1 class="number">01.</h1>
                            <div class="title">
                                <h2 class="company">Ceridian |&nbsp</h2>
                                <h4 class="date">May 2021 - August 2021</h4>
                            </div>
                            <h3 class="position">Software Developer Intern</h3>
                            <div class="tech-list">
                                <ul class="skills-list">
                                    <li>ReactJS</li>
                                    <li>JavaScript</li>
                                    <li>TypeScript</li>
                                    <li>Dojo</li>
                                    <li>Jest</li>
                                    <li>BrowserStack</li>
                                </ul>
                            </div>
                            <p class="exp-info">Developed reusable UI components on the Web Framework team for Dayforce,
                                Ceridian’s HCM application</p>
                            <ul class="description">
                                <li>Maintained quality of UI component library within Storybook as part of Web Framework
                                    team by fixing bugs using React and JavaScript</li>
                                <li>Designed 90+ unit tests in Jest increasing code coverage by 62% and contributed to
                                    ensuring a smooth transition to a custom JavaScript utility library</li>
                                <li>Assisted Product and Technology teams within organization with implementation of UI
                                    components into Dayforce application
                                </li>
                            </ul>
                        </div>
                        <div class="logo">
                            <img src="assets/img/shared/ceridian-logo.jpg" alt="ceridian">
                        </div>
                    </section>
                    <section class="work-section">
                        <div class="text">
                            <h1 class="number">02.</h1>
                            <div class="title">
                                <h2 class="company">Ceridian |&nbsp</h2>
                                <h4 class="date">September 2020 - December 2020</h4>
                            </div>
                            <h3 class="position">Test Engineer Intern</h3>
                            <div class="tech-list">
                                <ul class="skills-list">
                                    <li>SpecFlow</li>
                                    <li>Selenium</li>
                                    <li>SQL</li>
                                    <li>Azure DevOps</li>
                                </ul>
                            </div>
                            <p class="exp-info">Ensured continuous functionality of Platform features through test
                                automation</p>
                            <ul class="description">
                                <li>Reduced manual testing time by 20+ hours by writing automated test cases using
                                    SpecFlow and Selenium
                                </li>
                                <li>Maintained 100% pass rate on daily automation test executions for more than 1000
                                    scenarios and refactored code for continuous improvement
                                </li>
                                <li>Verified and provided sign-offs for hotfixes and software releases
                                </li>
                            </ul>
                        </div>
                        <div class="logo">
                            <img src="assets/img/shared/ceridian-logo.jpg" alt="ceridian">
                        </div>
                    </section>
                    <section class="work-section" id="td">
                        <div class="text">
                            <h1 class="number">03.</h1>
                            <div class="title">
                                <h2 class="company">TD Securities |&nbsp</h2>
                                <h4 class="date">January 2020 - April 2020</h4>
                            </div>
                            <h3 class="position">Business Analyst Intern</h3>
                            <div class="tech-list">
                                <ul class="skills-list">
                                    <li>SDLC</li>
                                    <li>Jira</li>
                                    <li>C++</li>
                                    <li>SQL</li>
                                </ul>
                            </div>
                            <p class="exp-info">Managed release process end-to-end for Darwin, an in-house financial
                                trading application used by TD’s Front Office</p>
                            <ul class="description">
                                <li>Coordinated release of application including sprint management, creating release
                                    notes and testing documentation, and communicating with users and stakeholders
                                </li>
                                <li>Developed bug fixes and feature enhancements in C++ and SQL for application’s GUI
                                    and SQL database
                                </li>
                                <li>Performed regression testing for each release and effectively tested new fixes with
                                    comprehensive manual test cases
                                </li>
                            </ul>
                        </div>
                        <div class="logo">
                            <img src="assets/img/shared/td-logo.png" alt="td">
                        </div>
                    </section>
                    <section class="work-section">
                        <div class="text">
                            <h1 class="number">04.</h1>
                            <div class="title">
                                <h2 class="company">Rogers Communications |&nbsp</h2>
                                <h4 class="date">May 2019 - August 2019</h4>
                            </div>
                            <h3 class="position">Strategy Planning Intern</h3>
                            <div class="tech-list">
                                <ul class="skills-list">
                                    <li>Public Speaking</li>
                                    <li>Data Analysis</li>
                                    <li>Market Research</li>
                                </ul>
                            </div>
                            <p class="exp-info">Developed and delivered strategic plans to shape business decisions for
                                Rogers for Business</p>
                            <ul class="description">
                                <li>Presented recommendation to the VP of Wireless Business on long-term factors
                                    impacting launch of unlimited data in Canada resulting in renewed focus on methods
                                    to effectively differentiate wireless product
                                </li>
                                <li>Marketed strategy for a company growth opportunity within a Canadian market worth
                                    $520M leading to further strategy development
                                </li>
                                <li>Collaborated with Senior Manager of Enterprise Strategy in conducting a competitor
                                    and market analysis for a potential business partnership in a successful proposal to
                                    the President of Rogers for Business
                                </li>
                            </ul>
                        </div>
                        <div class="logo">
                            <img src="assets/img/work-pg/rogers.svg" alt="rogers">
                        </div>
                    </section>
                </div>
                <div class="project-container" id="project">
                    <section class="project-section" id="portfolio">
                        <div class="left-container">
                            <div class="images-container">
                                <img class="slides0 fade" src="assets/img/work-pg/website1.png"
                                    alt="personal website home page">
                                <img class="slides0 fade" src="assets/img/work-pg/website2.png"
                                    alt="personal website home page">
                                <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                                <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                            </div>
                            <div class="slideshow-nav">
                                <span class="dots0 dots" onclick="currentSlide(1, 0)"></span>
                                <span class="dots0 dots" onclick="currentSlide(2, 0)"></span>
                            </div>
                        </div>
                        <div class="text">
                            <h1 class="number">01.</h1>
                            <div class="title">
                                <h2 class="company">Personal Website v1 |&nbsp</h2>
                                <div class="icons">
                                    <a href="https://github.com/sharonywu/sharonywu.github.io" target="_blank"><img
                                            src="assets/img/shared/github-icon.svg" alt="github"></a>
                                    <a href="https://www.figma.com/file/irEhh6dhLUSpMnjJ76W7jg/Portfolio-Wireframe?node-id=0%3A1"
                                        target="_blank"><img class="figma-icon" src="assets/img/work-pg/figma-icon.svg"
                                            alt="figma"></a>
                                </div>
                            </div>
                            <h3 class="position"></h3>
                            <div class="tech-list">
                                <ul class="skills-list">
                                    <li>HTML/CSS</li>
                                    <li>Figma</li>
                                    <li>JavaScript</li>
                                    <li>Jekyll</li>
                                </ul>
                            </div>
                            <p class="exp-info">A portfolio website to showcase my skill set, work experience, and
                                projects
                            </p>
                            <ul class="description">
                                <li>Created website from the ground up starting with the conceptualization stage, to
                                    wireframes, and finally implementing the design with code and hosting with Jekyll
                                    and GitHub Pages
                                </li>
                                <li>A continuous work in progress!
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="project-section" id="sitdown">
                        <div class="left-container">
                            <div class="images-container">
                                <img class="slides1 fade" src="assets/img/work-pg/sitdown1.png"
                                    alt="sitdown sign in page">
                                <img class="slides1 fade" src="assets/img/work-pg/sitdown2.png"
                                    alt="sitdown COVID-19 screening form">
                                <img class="slides1 fade" src="assets/img/work-pg/sitdown3.png"
                                    alt="sitdown booking workspace page">
                                <img class="slides1 fade" src="assets/img/work-pg/sitdown4.png"
                                    alt="sitdown booking confirmation page">
                                <img class="slides1 fade" src="assets/img/work-pg/sitdown5.png"
                                    alt="sitdown SMS confirmation">
                                <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
                                <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
                            </div>
                            <div class="slideshow-nav">
                                <span class="dots1 dots" onclick="currentSlide(1, 1)"></span>
                                <span class="dots1 dots" onclick="currentSlide(2, 1)"></span>
                                <span class="dots1 dots" onclick="currentSlide(3, 1)"></span>
                                <span class="dots1 dots" onclick="currentSlide(4, 1)"></span>
                                <span class="dots1 dots" onclick="currentSlide(5, 1)"></span>
                            </div>
                        </div>
                        <div class="text">
                            <h1 class="number">02.</h1>
                            <div class="title">
                                <h2 class="company">SitDown |&nbsp</h2>
                                <div class="icons">
                                    <a href="https://github.com/HTN-2020/repo-sit" target="_blank"><img
                                            src="assets/img/shared/github-icon.svg" alt="github"></a>
                                    <a href="https://www.figma.com/file/0glTxOBtsEG9uGQ0fUrvpc/Design-for-Hack-the-north-Project?node-id=0%3A1"
                                        target="_blank"><img class="figma-icon" src="assets/img/work-pg/figma-icon.svg"
                                            alt="figma"></a>
                                    <a href="https://devpost.com/software/sitdown-hbjvmp" target="_blank"><img
                                            src="assets/img/shared/devpost-icon.svg" alt="devpost"></a>
                                </div>
                            </div>
                            <h3 class="position">Hack the North 2020++</h3>
                            <div class="tech-list">
                                <ul class="skills-list">
                                    <li>Dart</li>
                                    <li>Flutter</li>
                                    <li>Figma</li>
                                </ul>
                            </div>
                            <p class="exp-info">A mobile app designed to make employees feel more safe about returning
                                to work during the COVID-19 pandemic including a screening form and workspace booking
                            </p>
                            <ul class="description">
                                <li>Implemented Vonage REST API for users to receive SMS confirmation after booking
                                </li>
                                <li>Utilized Figma and Dart to design and program final confirmation page of application
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section class="project-section">
                        <div class="left-container">
                            <div class="images-container">
                                <img class="slides2 fade" src="assets/img/work-pg/ecomission1.png"
                                    alt="ecomission home page">
                                <img class="slides2 fade" src="assets/img/work-pg/ecomission2.png"
                                    alt="ecomission input postal code page">
                                <img class="slides2 fade" src="assets/img/work-pg/ecomission3.png"
                                    alt="ecomission results page">
                                <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
                                <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
                            </div>
                            <div class="slideshow-nav">
                                <span class="dots2 dots" onclick="currentSlide(1, 2)"></span>
                                <span class="dots2 dots" onclick="currentSlide(2, 2)"></span>
                                <span class="dots2 dots" onclick="currentSlide(3, 2)"></span>
                            </div>
                        </div>
                        <script src="assets/js/project-slideshow.js"></script>
                        <div class="text">
                            <h1 class="number">03.</h1>
                            <div class="title">
                                <h2 class="company">e(co)mission |&nbsp</h2>
                                <div class="icons">
                                    <a href="https://devpost.com/software/e-co-mission" target="_blank"><img
                                            src="assets/img/shared/devpost-icon.svg" alt="devpost"></a>
                                </div>
                            </div>
                            <h3 class="position">SheHacks V</h3>
                            <div class="tech-list">
                                <ul class="skills-list">
                                    <li>HTML/CSS</li>
                                    <li>Bootstrap</li>
                                    <li>Canva</li>
                                    <li>Figma</li>
                                </ul>
                            </div>
                            <p class="exp-info">A web application helping users calculate and better understand the
                                amount of greenhouse gas emitted during their trip, as well as the differences among
                                various modes of transportation and the social cost of these emissions</p>
                            <ul class="description">
                                <li>Winner of Wolfram Alpha Award for placing in the top 20 of 100+ teams
                                </li>
                                <li>Collaborated with team member to design the logo and UI for web application
                                </li>
                                <li>Programmed application’s front-end with HTML/CSS and Bootstrap for a simple and
                                    effective user experience</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        {% include contact.html %}
    </main>
</body>

</html>