<link rel="stylesheet" href="sass/nav-header.css" />
<link rel="shortcut icon" href="assets/img/shared/logo.svg">


<header>
    <a href="index" class="logo">
        <img src="assets/img/shared/logo.svg" alt="logo" class="logo" />
    </a>
    <nav>
        <ul>
            <li><a href="work">Work</a></li>
            <li class="contact-link"><a href="#contact">Contact</a></li>
            <li class="resume-btn">
                <a href="assets/img/resume.pdf" target="_blank">Resume</a>
            </li>
        </ul>
    </nav>
</header>